body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(39, 103, 160);
}

header h2 {
    color: rgb(255, 255, 255);
    font-size: xx-large;
    margin-left: 30px;
}

header div {
    margin-left: auto;
    margin-top: 30px;
    margin-right: 20px;
}

main {
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.sidebar {
    background: rgb(93, 219, 250);
    display: inline-block;
    text-align: center;
    min-width: 150px;
}

.sidebar p {
    display: block;
    padding: 10px;
    text-align: center;
    width: 100%;
    background-color: rgb(109, 143, 153);
}

footer {
    background-color: rgb(109, 143, 153);
    min-height: 100px;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.project-1 {
    background-color: rgb(255, 255, 255);
    border-color: rgb(223, 223, 223);
}

.project-2 {
    background-color: rgb(255, 255, 255);
    border-color: rgb(223, 223, 223);
}

.project-3 {
    background-color: rgb(255, 255, 255);
    border-color: rgb(223, 223, 223);
}

.project-4 {
    background-color: rgb(255, 255, 255);
    border-color: rgb(223, 223, 223);
}

main div {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "head       head"
    "side       main"
    "foot       foot";
}

header {
    grid-area: head;
}

main {
    grid-area: main;
}

.sidebar {
    grid-area: side;
}

footer {
    grid-area: foot;
}


@media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    img {
        height: 200px;
    }
}

div a:hover {
    color: yellow;
}

div a {
    color: rgb(10, 11, 99)
}

img[src$=".png"] {
    border: 10px solid;
}