.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(39, 103, 160);
    color:white
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color:white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav a:hover {
    color:#FFD700;
}

.nav a.active {
    color:#FFD700;
    border-bottom: 2px solid #FFD700;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header {
        flex-wrap: wrap;
    }

    .menu-toggle{
        display: block;
    }

    .nav {
        display: flex;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding-top: 1rem;
        gap: 1rem;
    }

    .nav.open {
        display: flex;
    }
}