.photo-item {
    border: 1px solid #ffffff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: white;
}

.photo-detail {
    text-align: center;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-image {
    max-height: 200px;
    
}

.detail-btn {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #3498db;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.detail-btn:hover {
    background-color: #2980b9;
}