body {
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: #bee0eb;
}

#message-head {
    display: block;
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    padding: 1rem;
}

form {
    display: block;
    position: relative;
    background: rgb(98, 189, 250);
    border-radius: 10px;
    width: 500px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);;
}

form > h2 {
    font-size: 1.5rem;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.error {
    color: red;
    font-size: 14px;
}

input[type="text"],
input[type="email"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

select{
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="checkbox"]{
    width: 15px;
    height: 15px;
    margin: -1px;
}

button {
    display: block;
    border-radius: 5px;
    border-width: 2px;
    border-color: #e0e0e0;
    background-color: rgb(169, 218, 233);
    font-size: large;
    padding: 5px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: rgb(218, 218, 39);
    cursor: pointer;
}

#success-message {
    display: none;
    background: rgb(150, 175, 241);
    border-radius: 10px;
    width: 500px;
    padding: 20px;
    color: rgb(15, 6, 136);
    text-align: center;
    font-size: 25px;
}