.head2 {
    display: inline-block;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    top: 10%;
    left: 60%;
    width: 350px;
    text-align: right;
}

.head2-content {
    font-size: 1.5rem;
    color: black;
}

.resume-container {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(213, 240, 241);
}

.resume-container h3 {
    color: rgb(117, 39, 117);
}

@media (max-width: 768px) {
    .resume-container {
        display: flex;
        flex-direction: column;
    }

    .head2 {
        position: static;
        order: -1;
        text-align: left;
    }
}